---
apiVersion: v1
kind: ConfigMap
metadata:
  name: spdkcsi-cm
data:
  # rpcURL: spdk json rpc target
  # targetType: nvme-rdma, nvme-tcp, iscsi
  # targetAddr: target service IP
  config.json: |-
    {
      "nodes": [
        {
          "name": "localhost",
          "rpcURL": "http://127.0.0.1:9009",
          "targetType": "nvme-tcp",
          "targetAddr": "127.0.0.1"
        }
      ]
    }
