---
apiVersion: v1
kind: Secret
metadata:
  name: spdkcsi-secret
stringData:
  # Specify node specific token with item "name" matches ConfigMap.
  # {
  #   "name": "spdk-testnode",
  #   "username": "myuser",
  #   "password": "mypass"
  # }
  secret.json: |-
    {
      "rpcTokens": [
        {
          "name": "localhost",
          "username": "spdkcsiuser",
          "password": "spdkcsipass"
        }
      ]
    }
